<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>初めてのアプリ.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>70C21A1B1ED288EA0081F82D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70C21A2F1ED288EB0081F82D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>70C21A3A1ED288EC0081F82D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
